<% if signed_in? %>
  <div>
    <h2>Dashboard</h2>
    <p>
      Welcome, <%= current_user.display_name %>
    </p>

    <p>
      <%= link_to_tickets %>
    </p>

    <p>
      <%= link_to_project %>
    </p>
  </div>
<% else %>
  <div>
    <h2>Link your GrooveHQ tickets to Github</h2>

    <p>
      <%= link_to "Sign in with Github", "/auth/github" %>
    </p>
  </div>
<% end %>
