<h1>Github/Groove</h1>

<% if signed_in? %>
  <p>
    Welcome, <%= current_user.display_name %> | <%= link_to "Sign out", "/auth/signout" %>
  </p>

  <p>
    <%= link_to_project %>
  </p>
<% else %>
  <p>
    <%= link_to "Sign in with Github", "/auth/github" %>
  </p>
<% end %>
