<h1>Github/Groove</h1>

<p>
<% if signed_in? %>
  Welcome, <%= current_user.display_name %> | <%= link_to "Sign out", "/auth/signout" %>
<% else %>
  <%= link_to "Sign in with Github", "/auth/github" %>
<% end %>
</p>
